.filmeDestak{
    display: flex;
    width: 100%;
    gap: 30px;
}

.infoEPlay{
    color: #fff;
    h3{
        font-size: 26px;
    }
    .ano{
        color: #929292;
    }
    .descricao{
        width: 50%;
    }
}


.btnPlayDesk{
    margin: 10px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: #8D11C8;
}

@media (max-width: 700px){
    .btnPlayDesk{
        display: none;
    }
}





.imgDestak{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}









@media (max-width: 700px){
    .containerFilmeestaquedesk{
        display: none;
    }
}