.containerNav{
    display: flex;
    justify-content: center;

    nav ul{
        width: 100%;
        display: flex;
        list-style: none;
        gap: 30px;
        

        li a{
            color: #fff;
            text-decoration: none;
            text-align: center;
        }
    }
}

@media (max-width: 700px){
    .hiddenMob{
        display: none;
    }
}