.containter-home{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2px);
    border: 1px solid red;
    padding: 10px 10px;
    margin: 0;

    p{
        color: #fff;
    }
    

    .imgDestaque{
        max-width: 160px;
        max-height: 340px;
    }

    .line1{
        margin: 10px 0;
        width: 100%;
        height: 1px;
    }
}


.infoFilme{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.infoFilme h3{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.infoFilme p{
    font-size: 12px;
    color: #929292;
}

.btnsFilme{
    display: flex;
    gap: 10px;

    .estrela{
        color: #FFE500;
    }
    .coracao{
        color: #C0392B;
    }
    .compartilhar{
        color: #5D9F45;
    }
}

.containerFilmes{
    margin-bottom: 5px;
    width: 100%;
    
    h2{
        margin-bottom: 5px;
        font-size: 12px;
        color: #fff;
        font-weight: 400;
    }
}


.filmes{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;


    img{
        max-width: 140px;
        max-height: 340px;
    }
}

