.containter-home{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: calc(100% - 2px);
    border: 1px solid red;
    padding: 10px 10px;
    margin: 0;

    p{
        color: white;
    }

    .imgDestaque{
        max-width: 160px;
        max-height: 340px;
    }
}


