.containter-home{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2px);
    padding: 10px 10px;
    margin: 0;

    p{
        color: #fff;
    }
    

    .imgDestaque{
        max-width: 160px;
        max-height: 340px;
    }

    .line1{
        margin: 10px 0 10px 0px;
        width: 100vw;
        height: 1px;
        background-color: #606060;
    }
}






