.containerDestaqueFilme{
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        color: #fff;
    }
    

    .imgDestaque{
        width: 160px;
        height: 240px;
    }

    .line1{
        margin: 10px 0 10px 0px;
        width: 100vw;
        height: 1px;
        background-color: #606060;
    }
}

.filmeDestacado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.infoFilme{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.infoFilme h3{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.infoFilme p{
    font-size: 12px;
    color: #929292;
}

.btnsFilme{
    display: flex;
    gap: 10px;

    .estrela{
        color: #FFE500;
    }
    .coracao{
        color: #C0392B;
    }
    .compartilhar{
        color: #5D9F45;
    }
}


@media (min-width: 700px){
    .filmeDestacado{
        display: none;
    }
    .btnsFilme{
        display: none;
    }
}



// Desktop Version SCSS

.filmeDestak{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.infoEPlay{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    color: #fff;
    h3{
        font-size: 26px;
    }
    .ano{
        color: #929292;
    }
    .descricao{
        max-width: 100%;
    }
}


.btnPlayDesk{
    margin: 10px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: #8D11C8;
}

@media (max-width: 700px){
    .btnPlayDesk{
        display: none;
    }
}

.rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: #1B1B1B;
    gap: 10px;

    .containerStar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stars{
        .star{
            color: #333333;
            font-size: 40px;
        }
        .active{
            color: #FFB800;
        }
    }
}





.imgDestak{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: left;

    img{
        width: 300px;
    }
}









@media (max-width: 700px){
    .containerFilmeestaquedesk{
        display: none;
    }
}