.imgDePerfil{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: right;

    p{
        color: yellow;
        font-size: 14px;
    }

    img{
        border-radius: 50%;
        max-width: 45px;
        max-height: 45px;
        aspect-ratio: 1 / 1;
    }
}

@media (max-width: 700px){
    .imgDePerfil{
        display: none;
    }
}