.btnPlay{
    margin: 10px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-color: #8D11C8;
}