.containerFilmes{
    margin-bottom: 5px;
    width: 100%;
    
    h2{
        
        margin-bottom: 5px;
        font-size: 12px;
        color: #fff;
        font-weight: 400;
    }
}

.organizadorFilmes{
    display: flex;
    gap: 10px;
    justify-content: space-around;

    .filmes{
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: space-around;
    
    
        img{
            width: 140px;
            height: 190px;
            border-radius: 10px;
        }
    }
}


@media (min-width: 700px){
    .organizadorFilmes{
        display: flex;
        gap: 10px;
        justify-content: space-around;
    
        .filmes{
            flex: 1;
            
        
            img{
                width: 100%;
                height: auto;
                aspect-ratio: 3 / 4;
                border-radius: 10px;
                object-fit: cover;
                transition: transform .3s ease;
            }
            img:hover{
                cursor: pointer;
                transform: scale(1.03);
            }
        }
    }
    .containerFilmes{
        margin-bottom: 10px;

        h2{     
            margin-bottom: 5px;
            font-size: 26px;
        }
    }
}